<div class="row">

  <div class="col-md-6">

  	<h2>No completados</h2>
  	<br>
  	<% @todos.each do |todo| %>
  		<% if todo.completed == false %>
  			<div class="col-md-5">
	  			<p> Descripción: <%= todo.description %> </p> 
	  		</div>
	  		<div class="col-md-5">
	  			<p> Completo   : <%= todo.completed %> </p>
			</div>
				
  		<% end%>
	
	<% end %>
	

  </div>

  <div class="col-md-6">

  	<h2>Completos</h2>
  	<br>
  	<% @todos.each do |todo| %>
  		<% if todo.completed == true %>
  			<div class="col-md-5">
	  			<p> Descripción: <%= todo.description %> </p> 
	  		</div>
	  		<div class="col-md-5">
	  			<p> Completo   : <%= todo.completed %> </p>
			</div>
  		<% end%>
	
	<% end %>
	
  </div>

</div>
