<div class="row">

  <div class="col-md-6">

  	<h2>No completados</h2>
  	<div class= well>
	  	<% @todos.each do |todo| %>
	  		<% if todo.completed == false %>
	  			<p> <%= todo.description %> </p> 
				<p> <%= todo.completed %> </p>
	  		<% end%>
		
		<% end %>
	</div>

  </div>

  <div class="col-md-6">

  	<h2>Completos</h2>
  	<div class= well>
	  	<% @todos.each do |todo| %>
	  		<% if todo.completed == true %>
	  			<p> <%= todo.description %> </p> 
				<p> <%= todo.completed %> </p>
	  		<% end%>
		
		<% end %>
	</div>
  </div>

</div>
